{% if session.username %}
<p>Logged in as: {{ session.username }}</p>

{% if current_team %}
<p>Your Current Team: {{ current_team.name }} (Location: {{ current_team.location }})</p>
<p>Want to switch teams? <a href="/choose_team">Choose a team</a></p>

<p>Team info here:</p>
<p>Wins: <span id="wins">{{ wins }}</span></p>
<p>Losses: <span id="losses">{{ losses }}</span></p>
<p>Ties: <span id="ties">{{ ties }}</span></p>

<p>Batter:
    {% if current_batter %}
    <a href="{{ url_for('player_stats', player_id=current_batter.id) }}">{{ current_batter.name }}</a>
    {% else %}
    None
    {% endif %}
</p>

<p>Pitcher:
    {% if current_pitcher %}
    <a href="{{ url_for('player_stats', player_id=current_pitcher.id) }}">{{ current_pitcher.name }}</a>
    {% else %}
    None
    {% endif %}
</p>

<p>Fielder:
    {% if current_fielder %}
    <a href="{{ url_for('player_stats', player_id=current_fielder.id) }}">{{ current_fielder.name }}</a>
    {% else %}
    None
    {% endif %}
</p>



<p>Challenge another team:</p>
<ul>
    {% for user in other_users %}
    <li>
        {{ user.username }} - {{ user.team_name if user.team_name else 'No team' }}
        <form action="{{ url_for('challenge_team') }}" method="POST" style="display:inline;"
            onsubmit="console.log(this.team_id.value)">
            <input type="hidden" name="team_id" value="{{ user.current_team }}">
            <button type="submit">Challenge</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>You don't have a team yet. <a href="/choose_team">Choose a team</a></p>
{% endif %}
<a href="/logout">Log out</a>

{% else %}
<form action="/login" method="POST">
    <p>Username:<br>
        <input type="text" name="username">
    </p>
    <p>Password:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Log in">
</form>
<p>Don't have an account? <a href="/register">Register here</a></p>
{% endif %}

<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}