{% if session.username %}
<p>Logged in as: {{ session.username }}</p>
<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
    <p>Username:<br>
        <input type="text" name="username">
    </p>
    <p>Password:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Log in">
</form>
<p>Don't have an account? <a href="/register">Register here</a></p>
{% endif %}

<!-- Display flash messages if any -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}